<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
    <add key="Winyard" value="https://wy-devops.lcs-schlieben.de:54642/nuget" protocolVersion="2"/>
    <add key="Telerik" value="https://nuget.telerik.com/v3/index.json" protocolVersion="3"/>
  </packageSources>
  <packageSourceCredentials>
    <TelerikServer>
      <add key="Username" value="%TELERIK_USERNAME%"/>
      <add key="ClearTextPassword" value="%TELERIK_PASSWORD%"/>
    </TelerikServer>
  </packageSourceCredentials>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*"/>
      <package pattern="Newtonsoft.Json"/>
      <package pattern="Telerik.FontIcons"/>
      <package pattern="Telerik.Licensing"/>
      <package pattern="Telerik.SvgIcons"/>
      <package pattern="*"/>
    </packageSource>
    <packageSource key="Telerik">
      <package pattern="Telerik.*"/>
    </packageSource>
    <packageSource key="Winyard">
      <package pattern="Winyard.*"/>
      <package pattern="UiPath.*"/>
    </packageSource>
  </packageSourceMapping>
  <config>
    <add key='maxHttpRequestsPerSource' value='10'/>
  </config>
</configuration>